<%- include header %>
<p class="info">
  标题：<%= post.title %> |
  作者：<%= post.name %> | 
  日期：<%= post.time.minute %> |
  <% if(user) { %>
  <a class="edit" href="/edit/<%= post.name %>/<%= post.time.day %>/<%= post.title %>">编辑</a> |
  <a class="edit" href="/remove/<%= post.name %>/<%= post.time.day %>/<%= post.title %>">删除</a>
  <% } %>
</p>
<div id="article"><%- post.post %></div>
<%- include footer %>