<%- include header %>
	<form method="post">
	标题：<br />
	<input type="text" name="title" value="<%= post.title %>" disabled="disabled" /><br />
	正文：<br />
	<textarea name="post" rows="20" cols="100"><%= post.post %></textarea><br />
	<input type="submit" value="保存修改" />
	</form>
<%- include footer %>