  <br />
  <footer>
  	email:e_@live.com
  	[
  		<% if (user) { %>
  		<a href="/post">post</a>
  		<a href="/loginout">loginout</a>
  		<% } else { %>
  		<a href="/login">login</a>
  		<a href="/reg">reg</a>
  		<% } %>
  		<a href="/about">about</a>
  	]
  </footer>
  </div>
  </body>
</html>
