<!DOCTYPE html>
<html>
  <head>
    <title><%= title %>--This is an Repository</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
	  <div id="container">
	  <div id="header">
		  <a id="logo" href="/"> <h1><%= title %></h1></a>
		<h3>This is an Repository</h3>
		<form action="/search" method="GET">
			<input type="text" name="keyword" placeholder="input keyword" class="search" size="45" />
			<input type="submit" value="Search" />
		</form>
	  </div>