<%- include header %>
		<% if (success) { %>
		<div><%= success %></div>
		<% } %>
		<% if (error) { %>
		<div><%= error %></div>
		<% } %>
<div id="pageBody">
<br />
	<% posts.forEach(function(post,index){ %>
		<a href="/u/<%= post.name %>/<%= post.time.day %>/<%= post.title %>"><%= post.title %></a>
	<% }) %>
</div>
<%- include footer %>