<%- include header %>
	<form method="post">
		email:<input type="text" name="email" /><br />
		Username:<input type="text" name="username" /><br />
		Password:<input type="password" name="password" /><br />
		Repeat:<input type="password" name="password-repeat" /><br />
		<input type="submit" value="Reg" />
	</form>

<%- include footer %>