<%- include header %>
<div id="pageBody">
<br />
<% var lastYear = 0 %>
	<% posts.forEach(function (post, index) { %>
	<% if(lastYear != post.time.year) { %>
	<% lastYear = post.time.year } %>
	<<a href="/u/<%= post.name %>/<%= post.time.day %>/<%= post.title %>"><%= post.title %></a>
	<% }) %>>
</div>
<%- include footer %>