/*基本信息*/
body {
	font:12px Tahoma;margin:0px;text-align:center;background:#FFF;}
a:link,a:visited {
	font-size:12px;text-decoration:none;}
a:hover{}
a {
	margin-left: 5px;
}

#logo {
	clear: both;
	float: none;
	margin: 0px;
}


/*页面层容器*/
#container {
	width:800px;margin:10px auto
}

/*页面头部*/
#Header {
	width:800px;margin:0 auto;height:100px;background:#FFCC99}

/*页面主体*/
#PageBody {
	width:800px;margin:0 auto;height:400px;background:#CCFF00}

#PageBody a {
	margin-left: 5px;
	float: left;
}

#article {
	text-align: left;
}